################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/keyboardcmd/v15/Browse.VC.opendb
/LW_TOI_1/.vs/LW_TOI_1/v15/Browse.VC.db
/LW_TOI_1/.vs/LW_TOI_1/v15/Browse.VC.opendb
/lw_os_4/.vs/lw_os_4_main/v15/Browse.VC.opendb
/lw_os_4/.vs/lw_os_4_main/v15/Browse.VC.db
/lw_os_5/lw_os_5/.vs/lw_os_5/v15/Browse.VC.opendb
