################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/keyboardcmd/v15/Browse.VC.opendb
/LW_TOI_1/.vs/LW_TOI_1/v15/Browse.VC.db
/LW_TOI_1/.vs/LW_TOI_1/v15/Browse.VC.opendb
/lw_os_4/.vs/lw_os_4_main/v15/Browse.VC.opendb
/lw_os_4/.vs/lw_os_4_main/v15/Browse.VC.db
/lw_os_5/lw_os_5/.vs/lw_os_5/v15/Browse.VC.opendb
/lw_ict_4/.vs/lw_ict_4/v15
/lw_ict_4/client/.vs/clientC/v15/ipch/AutoPCH/31b7491aff39494a/SERVER2.ipch
/lw_ict_4/client/.vs/clientC/v15/Browse.VC.opendb
